<!--<div style="display: flex; align-items: center; justify-content: center">-->
<!--  <div style="width: 1000px; height: 1000px; position: relative">-->
<!--    <img-->
<!--      src="http://www.milliondollarhomepage.com/index_files/neg.gif"-->
<!--      name="neg"-->
<!--      id="neg"-->
<!--      width="1000"-->
<!--      height="1000"-->
<!--      usemap="#map"-->
<!--    />-->
<!--    <map name="map" (mouseover)="hidden = false" (mouseout)="hidden = true">-->
<!--      <area-->
<!--        shape="rect"-->
<!--        *ngFor="let element of pixelArray; let i = index"-->
<!--        [coords]="element.coords"-->
<!--        [href]="'#' + i"-->
<!--        alt="test1"-->
<!--        (mouseover)="displayDiv(element)"-->
<!--      />-->
<!--    </map>-->
<!--    <div-->
<!--      [hidden]="hidden"-->
<!--      [ngStyle]="{ left: xPos + 'px', top: yPos + 'px' }"-->
<!--      style="-->
<!--        width: 100px;-->
<!--        height: 100px;-->
<!--        border: 1px solid #f00;-->
<!--        position: absolute;-->
<!--      "-->
<!--    ></div>-->
<!--  </div>-->
<!--</div>-->

<canvas #canvas width="1000" height="1000" (click)="beginDrawing($event)" (mouseover)="draw($event)"></canvas>
